/vendor/

node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

/web/sites/*/files/php/
/web/sites/*/files/styles/
/web/sites/*/files/js/
/web/sites/*/files/css/
/web/sites/*/files/tmp/
/web/sites/*/files/translations/
/web/sites/*/files/advagg_*
/web/sites/default/files/tmp/
/web/sites/default/files/private/
/web/sites/default/files/backup_migrate/
/web/sites/default/files/imagecache/
/web/sites/default/files/ctools/
/web/sites/default/files/css/
/web/sites/default/files/.htaccess
/web/sites/default/files/

/web/sites/*/files/.htaccess

/web/sites/default/settings.php
/web/sites/default/settings.local.php
/web/sites/default/services.local.yml

/web/core/
/web/modules/contrib/
/web/themes/contrib/

backup.sql
*.sql.gz
*.sqlite

*.log

.idea/
.vscode/
*.swp
*~

/config/local/
/config/dev/
/config/staging/

.docker/
docker-compose*.yml

/web/sites/default/files/

.env
.env.local
.env.*